@using static WeatherMonitoringMVC.Controllers.HomeController;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Bootstrap4.Core;
@using X.PagedList.Web.Common;
@using WeatherMonitoringMVC.Controllers;
@{
    ViewData["Title"] = "View page";
}
@model WeatherDescriptionViewModel

<form method="get" enctype="multipart/form-data" action="/Home/Viewing">
    <div class="form-group">
        <label for="month">Месяц:</label>
        
        <select name="month" id="month">
            @{
                var months = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.MonthNames;
                <option value="@null">@months.Last()</option>
                for (int i = 0; i < months.Length-1; i++)
                {
                    if(Model.Month != null && Model.Month == (i + 1))
                    {
                        <option value="@(i+1)" selected="selected">@months[i]</option>
                    }
                    else
                    {
                        <option value="@(i+1)">@months[i]</option>
                    }
                }
            }
        </select>
        <label for="year">Год:</label>
        <input type="number" id="year" name="year" min="1970" max="@DateTime.Now.Year" value="@Model.Year">
    </div>
    <button type="submit" class="btn btn-primary" style="margin: 20px">Применить</button>
</form>

<table class="tbl_custom table-separator">
    <thead>
        <tr>
            <th>Дата</th>
            <th>T воздуха</th>
            <th>Отн. влажность</th>
            <th>Td</th>
            <th>Атм. давление</th>
            <th>Направление ветра</th>
            <th>Скорость ветра</th>
            <th>Облачность</th>
            <th>h</th>
            <th>VV</th>
            <th>Погодные явления</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WeatherDescriptions)
        {
            <tr>
                <td>@item.Date</td>
                <td>@item.T</td>
                <td>@item.Humidity</td>
                <td>@item.Td</td>
                <td>@item.Pressure</td>
                <td>@item.WindDirection</td>
                <td>@item.WindSpeed</td>
                <td>@item.CloudCover</td>
                <td>@item.H</td>
                <td>@item.VV</td>
                <td>@item.WeatherPhenomenon</td>
            </tr>
        }
    </tbody>
</table>
<br/>
Страница @(Model.WeatherDescriptions.PageCount < Model.WeatherDescriptions.PageNumber ? 0 : Model.WeatherDescriptions.PageNumber) из @Model.WeatherDescriptions.PageCount
<br />
<tr>
    <td colspan="4" align="center">
        @Html.PagedListPager(Model.WeatherDescriptions, page => Url.Action("Viewing", new { Model.Month, Model.Year, page }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
    </td>
</tr>

